<phpunit>
    <php>
        <env name="DB_CONNECTION" value="mysql#o|÷»h‘éì¶»§q«^w’[ËÏH[ÜXÚX[Ú\œÊ	ÔÑTÔÒSÓ–ÉÝ\Ù\›˜[YI×JHÏˆH<'äbÏÜ‚ˆÙ]‚ˆˆ[Û\ÜÏH›˜]ˆ‚ˆOH™YHœ›ÙXÝËœœ›ÝÜÙH›ÙXÝÏØOÛO‚ˆÜYˆ
	ÔÑTÔÒSÓ–ÉÚ\×ØYZ[‰×HOHJNˆÏ‚ˆOH™YH˜YZ[‹œYZ[ˆ[™[ØOÛO‚ˆÜ[™YŽÈÏ‚ˆOH™YH›ÙÛÝ]œ“ÙÛÝ]ØOÛO‚ˆÝ[‚ˆÜ[ÙNˆÏ‚ˆ[Û\ÜÏH›˜]ˆ‚ˆOH™YH›ÙÚ[‹œ“ÙÚ[ØOÛO‚ˆOH™YHœ™YÚ\Ý\‹œ”™YÚ\Ý\ØOÛO‚ˆOH™YHœ›ÙXÝËœœ›ÝÜÙH›ÙXÝÏØOÛO‚ˆÝ[‚ˆÜ[™YŽÈÏ‚ˆÙ]‚ˆÙ]‚Ø›ÙO‚Ú[‚